

{% assign block_settings = block.settings %}

{% liquid
  assign onboarding = false

  if article == blank
    assign onboarding = true
    assign display_title = 'placeholders.blog_post_title' | t
  else
    assign display_title = article.title
  endif
%}

{% capture image %}
  {% content_for 'block',
    id: 'image',
    type: '_featured-blog-posts-image',
    image: article.image,
    parent_block_id: block.id
  %}
{% endcapture %}

{% capture title %}
  {% content_for 'block', id: 'title', type: '_heading', text: display_title %}
{% endcapture %}

{% capture button %}
  {% content_for 'block', id: 'blog-post-button', type: '_blog-post-button' %}
{% endcapture %}

<div
  class="
    featured-blog-posts-card spacing-style border-style
    {% if section.settings.layout_type == 'editorial' %}blog-post-card--flexible-aspect-ratio{% endif %}
    {% if block_settings.inherit_color_scheme == false %}color-{{ block_settings.color_scheme }}{% endif %}
  "
  data-block-id="{{ block.id }}"
  data-testid="featured-blog-posts-card"
  {% if onboarding %}
    data-placeholder="true"
  {% endif %}
  style="
    {%- render 'spacing-style', settings: block_settings -%}
    {%- render 'border-override', settings: block_settings -%}
    --text-align: {{ block_settings.alignment }};
    --horizontal-alignment: {{ block_settings.alignment }};
    --gap: {{ block_settings.gap }}px;
  "
  {{ block.shopify_attributes }}
>
  <a
    class="featured-blog-posts-card__link"
    {% unless onboarding %}
      href="{{ article.url }}"
    {% endunless %}
  >
    <span class="visually-hidden">{{ display_title }}</span>
  </a>

  <div class="featured-blog-posts-card__inner">
    <div class="featured-blog-posts-card__media">
      {% if onboarding or article.image %}
        {{ image }}
      {% endif %}
    </div>

    <div class="featured-blog-posts-card__content">
      <div class="featured-blog-posts-card__title">
        {{ title }}
      </div>
      <div class="featured-blog-posts-card__button">
        {{ button }}
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
  .featured-blog-posts-card {
    text-align: var(--text-align);
  }

  .featured-blog-posts-card__inner {
    position: relative;
    aspect-ratio: var(--ratio, 1);
    overflow: hidden;
  }

  .featured-blog-posts-card__media {
    position: absolute;
    inset: 0;
  }

  .featured-blog-posts-card__media .resource-image {
    aspect-ratio: unset;
  }

  .resource-list--grid .resource-list__item {
    min-width: 0;
  }

  .featured-blog-posts-card__inner a,
  .featured-blog-posts-card__inner button {
    pointer-events: auto;
  }

  /* allow all blocks to be selectable in editor preview */
  .shopify-design-mode .featured-blog-posts-card__content * {
    pointer-events: auto;
  }

  .featured-blog-posts-card__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 16px;
    pointer-events: none;
  }

  .featured-blog-posts-card__title {
    margin: 0;
  }

  .featured-blog-posts-card__title h4 {
    margin: 0;
  }

  /* Editorial layout */
  .resource-list:not(.hidden--desktop) .blog-post-card--flexible-aspect-ratio {
    .featured-blog-posts-card__content {
      --flex-wrap: nowrap;
    }
  }

  @media screen and (max-width: 749px) {
    .resource-list:not(.hidden--desktop) .blog-post-card--flexible-aspect-ratio {
      .featured-blog-posts-card__image,
      .blog-placeholder-svg {
        aspect-ratio: unset;
      }
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.blog_card",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:content.text"
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "left",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "right",
          "label": "t:options.right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.borders",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
